.example-fill-remaining-space {
    flex: 100 1 auto;
  }

a {
    margin: 0px 7px 0px 7px;
    span {
        margin: 0px 3px 0px 3px;
    }

    cursor: pointer;
    text-decoration: none;
}

.link {
  cursor:pointer;
  color: white!important;    
  text-shadow: 2px 2px 4px #000000;
}

/* Navbar Styles */
.navbar{border-radius:0;}
.navbar-toggler{border:1px solid rgba(0,0,0,0.2);}
.navbar-toggler:hover{background:rgb(240,240,240)}
.navbar-toggler:focus{outline:0;}

/* Navbar Collapse Styles To Stack Items At Mobile Widths*/
@media(max-width:47.9em) {
  .navbar .navbar-brand {float:none;display: inline-block;}
  .navbar .navbar-nav>.nav-item { float: none; margin-left: .1rem;}
  .navbar .navbar-nav {float:none !important;}
  .nav-item{width:100%;text-align:left;} 
}