.example-fill-remaining-space {
    flex: 1 1 auto;
  }

a {
    margin: 0px 7px 0px 7px;
    span {
        margin: 0px 3px 0px 3px;
    }
    
    color: white;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    text-decoration: none;
}
.chromo-button { 
    background:url('/images/logo.png'); 
    background-size: contain;
    height: 100%;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;}

.mat-toolbar {
    background: transparent!important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

.mat-toolbar-single-row {
  padding-left: 0px!important;
}

.link {
    cursor:pointer;
    color: white!important;    
    text-shadow: 2px 2px 4px #000000;
  }