<div class="row navbar-mock"></div>
<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card-deck">
            <div class="card chromo-card">
              <picture>
                <source srcset="images/Dana.webp" type="image/webp">
                <source srcset="images/Dana.jpg" type="image/jpeg">
                <img class="" src="images/Dana.jpg" alt="Dana Cioran">
              </picture>
              <div class="card-body row justify-content-center">
                <h5 class="card-title">{{ 'load.team.job.architect' | translate }} Dana Cioran</h5>
                <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
              <!-- <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div> -->
            </div>
            <div class="card chromo-card">
            </div>
          </div>
    </div>
    
</div>
