<meta name="description" content="chromosome architecture studio contact page with adress and phone"/>
<div class="container-fluid">
  <div class="row navbar-mock"></div>
  <div class="row align-items-center">
      <div class="col-xl-4 col-lg-4 col-md-4 order-md-2 chromo-contact">
          <p><i class="fa-fw"></i> <strong>{{ 'load.contact.arh' | translate }} Dana Cioran</strong></p>
          <p><i class="fa fa-phone fa-fw"></i> {{ 'load.contact.phone' | translate }}</p>
          <p><i class="fa fa-envelope"> </i> {{ 'load.contact.mail' | translate }}</p>
          <p><i class="fa fa-map-marker"></i>   {{ 'load.contact.address' | translate }}</p>

          <a class="social-media" href="https://www.instagram.com/chromosome.architecture/">
            <img class="" src="images/followus.png" alt="follow us on instagram">
         </a>
      </div>

    <div class="col-xl-8 col-lg-8 col-md-8 order-md-1 chromo-grayscale">
        <agm-map 
        [latitude]="latitude" 
        [longitude]="longitude" 
        [zoom]="zoom" >
          <agm-marker 
          [latitude]="latitude"
          [longitude]="longitude"
          [iconUrl]="iconUrl"  
          [label]="labelOptions"
          [markerDraggable]="false">   
        </agm-marker>
        </agm-map> 

        <!-- <div class="container-maps">                                                     <div class="container-maps-one">   
 
          <p class="maps-text-location"><img src="assets/images/location.png"><span class="location-margin">{{listingPlace}}</span></p>
          <p class="maps-text-location">{{distanceProductToUser ? distanceProductToUser : '-'}} km from you</p>
          </div><div style="margin-top: 12px;">
          <div #mapContainer id="map"></div>
          </div>
          </div>
        </div>
        
        <!-- <google-map 
          height="93vh"
          width="100%"
          [options]="mapOptions">

          <map-marker 
            [position]="marker.position" 
            [label]="marker.label"
            [options]="marker.options"
            [title]="marker.title">
          </map-marker>
       </google-map> -->
  </div>
</div>
