google-map {
  .map-container {
    height: calc(100vh - 42px);
  }
}

.chromo-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.chromo-contact {
  margin-top: 2rem;
  font-size: 0.9rem;
}

.social-media {
  img {
    width: 150px;
    margin-bottom: 10px;
  }
}

.social-media:hover {  
  opacity: 0.8;  
}  


.google-map {
    height: calc(100vh - 42px);
}