::ng-deep .carousel-item {
    flex-direction: column;
}

::ng-deep .carousel-item  img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

::ng-deep .carousel-slide img {
    object-fit: cover;
    position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vh;
      margin-top: -50vh;
      margin-left: -50vw;
  }

  ::ng-deep .carousel-item {    
    height: calc(100vh - 42px);
  }

::ng-deep .carousel-control-next-icon {
    background-image: none;
}

::ng-deep .carousel-control-prev-icon {
    background-image: none;
}

::ng-deep .carousel-control-next-icon::before {
    color: black!important;
    width: 100px!important;
    font-family: "FontAwesome"; 
    content: "\f105";
    line-height: 1.2;
    font-size: xx-large;
    font-weight: bold;
}

::ng-deep .carousel-control-prev-icon::before {
    color: black!important;
    width: 100px!important;
    font-family: "FontAwesome"; 
    content: "\f104";
    line-height: 1.2;
    font-size: xx-large;
    font-weight: bold;
}

.class-test {
    width: 100%;
}

.main-page {
    padding-left: 10px!important;
    padding-right: 10px!important;
    outline: none;
  }

.carousel .carousel-inner {
    height: 100%;
}

ol {
    list-style: none;
}

.carousel-caption {
    color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: justify;
    height: 50%;
    margin: auto;
    display: flex;
    align-items: center;
}

.description-panel {
    .side-buttons {
        padding-left: 0;
        margin-top: 2vh;
    }

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.description-container {
    width: 100%;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .description-title {
        position: fixed;
        top: 0px;
        padding-top: 60px;
        text-align: center;
        width: 100vw;
        background: white;
        margin-left: -15px;
    }
    
    .main-page {
        padding-left: 0px!important;
        padding-right: 0px!important;
      }

      .carousel-caption {
        overflow: scroll;
        color: black;
        position: relative;
        padding: 10px;
        margin-top:30px;
        padding: 40px 10px 10px 10px;
        text-align: justify;
        height: 90%;
        margin: auto;
        display: block;
    }
}

@media (max-height: 767px) and (min-width: 767px){
    .carousel-caption {
      overflow: scroll;
      display: block;
    }
}