<div>
  <div class="container-fluid">
    <div class="row navbar-mock"></div>
    
    <!-- Project Header -->
    <header>
      <h1 class="visually-hidden">{{selectedProject?.sideDescription?.title}} - Architecture Project</h1>
    </header>
    
    <div class="row">
      <section class="project-gallery col-lg-9 col-md-8">
        <h2 class="visually-hidden">Project Images and Drawings</h2>
        <ngb-carousel class="main-page mh-100" #carousel>
          <ng-template ngbSlide *ngFor='let image of selectedProject.src;let i = index' id="{{i}}" class="slide">
            <picture *ngIf="image.pic">
                <source [srcset]="image.pic +'.webp'" type="image/webp">
                <source [srcset]="image.pic +'.jpg'" type="image/jpeg">
                <img [src]="image.pic+ '.jpg'" 
                     class="mx-auto d-block" 
                     [alt]="selectedProject.sideDescription.title + ' - Architecture project image ' + (i + 1)" 
                     swipe (leftSwipe)="carousel.next()" (rightSwipe)="carousel.prev()">
            </picture>
              <div class="carousel-caption" *ngIf="image.text && showRomanian">{{image.text.RO}}</div>
              <div class="carousel-caption" *ngIf="image.text && !showRomanian">{{image.text.EN}}</div>
          </ng-template>
        </ngb-carousel>
      </section>
      <aside class="description-panel col-lg-3 col-md-4">
        <nav class="d-none d-md-block" aria-label="Project navigation">
          <h3 class="visually-hidden">Browse Project</h3>
          <ol class="side-buttons">
            <li>
              <a (click)="setDescriptionActive()" 
                *ngIf="hasDescription()">
                <b class="link-dark">{{ 'load.modalMeniu.description' | translate }}</b>
              </a>
            </li>
            <li><a (click)="setImagesActive()">
                    <b class="link-dark">{{ 'load.modalMeniu.images' | translate }}</b>
            </a></li>
            <li><a (click)="setDrawingsActive()" *ngIf="selectedProject.drawings">
              <b class="link-dark">{{ 'load.modalMeniu.drawings' | translate }}</b>
            </a></li>
          </ol>
        </nav>
        
        <section class="project-details">
            <h2 class="visually-hidden">{{selectedProject?.sideDescription?.title}}</h2>
            <div class="project-description">
              <p style="white-space: pre-wrap;" *ngIf="showRomanian">{{selectedProject?.sideDescription?.body?.RO}}</p>
              <p style="white-space: pre-wrap;" *ngIf="!showRomanian">{{selectedProject?.sideDescription?.body?.EN}}</p>
            </div>
        </section>
      </aside>
    </div>
  </div>
</div>
