@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

// some basic resets 

body { 
  padding: 0; 
  margin: 0; 
  font-family: Montserrat, sans-serif; 
  
}

.primary-color {
  color: black!important;
}
.accent-color {
  color:white!important;
}
.background-primary-color {
  background-color: #3F51B5!important;
}
.background-accent-color {
  background-color: #FF4081!important;
}
.white-text {
  color: #FFF!important;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

.carousel-slide img {
  object-fit: cover;
  position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    margin-top: -50vh;
    margin-left: -50vw;
}

h3 {
    cursor:pointer;
    color: white!important;    
    text-shadow: 2px 2px 4px #000000;
  
}

.carousel-item {    
  height: 100vh;
}

.carousel-control-next {
  background: olive;
  width: 53px;
  height: 66px;
  bottom: 30px;
  top:inherit;
  cursor:pointer;
}

.carousel-control-prev {
  background: olive;
  width: 53px;
  height: 66px;
  bottom: 30px;
  top:inherit;
  left: unset;
  right: 53px;
  cursor:pointer;
}

