@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

// some basic resets 

body { 
  padding: 0; 
  margin: 0; 
  font-family: Montserrat, sans-serif; 
  height: 100%;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

.carousel-slide img {
  object-fit: cover;
  position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    margin-top: -50vh;
    margin-left: -50vw;
}

.carousel-item {    
  height: 100vh;
}

.navbar-mock {
  height: 42px;
}

.chromo-shadow {
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}


.link-dark:hover {
  cursor:pointer; 
  text-shadow: 0px 0px 0px #000000;
}
